<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Hello Website World</title>
        <link rel="stylesheet" href="..\styles\stylesheet.css">
    </head>
    <body style="margin:0px">
        <div style="display: flex">
            <div class="FormBox">
                <h2>Congratulations!!!</h2>
                <p>You have successfully completed the user creation and login challenge!<p>
            </div>
        </div>
    </body>
    <footer>
        <h6><i>Thanks Parth!!!</i></h6>
    </footer>
</html>