<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Hello Website World</title>
        <link rel="stylesheet" href="..\styles\stylesheet.css">
    </head>
    <body style="margin:0px">
        <div style="display: flex">
            <div class="FormBox">
                <h4>Email Verification</h4>
                <input name="Code" type="text" placeholder="Verification Code"><br>
                <input name="Verify" type="submit" placeholder="Verify"><br>
                <input name="Cancel" type="button" placeholder="Cancel"><br>          
            </div>
        </div>
    </body>
    <footer>
        <h6><i>Thanks Parth!!!</i></h6>
    </footer>
</html>